name: Go tests
on: [push, pull_request]
permissions:
  contents: read
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        arch: [amd64]
        go:
          - { go-version: stable }
          - { go-version-file: go.mod }
        deps:
          - locked
          - latest
        exclude:
          # latest deps often require newer Go than go.mod specifies
          - go: { go-version-file: go.mod }
            deps: latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go.go-version }}
          go-version-file: ${{ matrix.go.go-version-file }}
      - name: Update to latest dependencies
        if: matrix.deps == 'latest'
        run: go get -u -t ./...
      - name: Run tests
        run: go test -v ./...
